---
layout: layout.njk
---

<div>
  <div class="mx-auto w-full max-w-3xl flex-1 px-6 py-20">
    <a
      href="/consulting/"
      class="text-primary mb-4 inline-block text-sm font-semibold hover:underline"
      >← Back to Consulting</a
    >

    <h1>{{ title }}</h1>
    <p>{{ subtitle }}</p>

    <div class="prose mb-12 max-w-none">{{ content | safe }}</div>
  </div>

  {% include "footer.njk" %}
</div>
