<footer class="bg-base-200">
  <section class="py-20">
    <div class="mx-auto max-w-3xl px-6">
      <div class="text-primary flex">
        <div class="flex w-16">
          {% set elephantClass = "w-full h-auto" %}{% include "elephant.njk" %}
        </div>
      </div>
      <div class="pt-6">
        <p class="pb-2 text-xl font-medium">
          Let's talk about the elephants in your organization.
        </p>
        <p class="opacity-60">
          <a href="mailto:hello@organifanten.com" class="hover:opacity-100"
            >hello@organifanten.com</a
          >
        </p>
      </div>
          <div class="flex gap-6 pt-8 text-sm opacity-60">
      <a href="/imprint/" class="underline hover:opacity-100">Imprint</a>
      <a href="/privacy/" class="underline hover:opacity-100">Privacy Policy</a>
    </div>
    </div>
  </section>
</footer>
