<!doctype html>
<html lang="en" data-theme="organifanten">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Organifanten | Take care of the organizational elephants</title>
    <link rel="stylesheet" href="/styles/index.css">  
    <link rel="icon" type="image/x-icon"  href="/assets/favicon.ico" sizes="any">
  </head>
  <body class="min-h-screen bg-base-100 font-sans text-base-content">
    {{ content | safe }}
  </body>
</html>
