@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "organifanten";
  default: true; /* set as default */
  prefersdark: false; /* set as default dark mode (prefers-color-scheme:dark) */
  color-scheme: light; /* color of browser-provided UI */

  --color-base-100: oklch(0.99 0.005 255); /* #ffffff */
  --color-base-200: oklch(0.97 0.008 255); /* #f5f7fa */
  --color-base-300: oklch(0.93 0.01 255); /* #0f172a */
  --color-base-content: oklch(0.22 0.02 255); /* #0f172a */
  --color-primary: oklch(0.45 0.12 255);
  --color-primary-content: oklch(0.98 0.01 255);
  --color-secondary: oklch(0.65 0.08 250);
  --color-secondary-content: oklch(0.98 0.01 255);
  --color-accent: oklch(0.9 0.03 250);
  --color-accent-content: oklch(0.25 0.02 255);
  --color-neutral: oklch(0.3 0.02 255);
  --color-neutral-content: oklch(0.98 0.01 255);
  --color-info: oklch(0.75 0.1 240);
  --color-info-content: oklch(98% 0.01 220);
  --color-success: oklch(0.75 0.1 150);
  --color-success-content: oklch(98% 0.01 140);
  --color-warning: oklch(0.85 0.12 85);
  --color-warning-content: oklch(20% 0.05 80);
  --color-error: oklch(0.65 0.14 25);
  --color-error-content: oklch(98% 0.01 30);
}
